.depoimento-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-a1);
}

.depoimento-imagem img{
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-height: 520px; */
}

.depoimento-conteudo{
    padding: 40px 40px 80px 80px;
    align-self: end;
    display: flex;
}

.depoimento-conteudo blockquote > p{
    max-width: 32ch;
    margin-bottom: 32px;
}

.depoimento-conteudo blockquote > span {
    display: block;
    text-align: end;
}

.depoimento-conteudo > blockquote > p{
    position: relative;
}

.depoimento-conteudo blockquote > p::after{
    content: "â€";
    position: absolute;
    font-size: 5rem;
    color: var(--cor-a2);
}

.depoimento-aspas-1{
    font-size: 5rem;
    position: absolute;
    top: -20px;
    left: -50px;
}

/* responsivo */

@media (min-width: 1200px){
    .depoimento-imagem img{
        max-height: 520px;
    }
}

@media (max-width: 800px){
    .depoimento-conteudo{
        justify-content: center;
        padding: 40px;
    }

    .depoimento-container{
        grid-template-columns: 1fr;
    }

    .depoimento-imagem img{
        max-height: 200px;

    }

    .depoimento-conteudo blockquote > span, .depoimento-conteudo blockquote > p{
        text-align: center;
    }
    
}