.seguros{
    background-color: var(--cor-11);
}

.seguros-container{
    padding: 60px 20px;
}


.seguros-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.seguros-items > h2{
    grid-column: 1/-1;
}

.seguros-items-filhos{  
    padding: 32px 32px 32px 60px;
    border-radius: 4px;
    background-color: var(--cor-12);
    display: grid;
    grid-template-columns: 1fr auto;
}

.seguros-items-filhos > h3 {
    margin-bottom: 40px;
}

.seguros-preco{
    text-align: right; 
}

.seguros-preco > span{
    display: block;
}

.seguros-items-filhos > ul{
    margin-bottom: 32px;
    grid-column: 1/-1;
}

.seguros-items-filhos > ul li{
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 1/-1;
}

.seguros-items-filhos > ul li:nth-child(n + 2){
    margin-top: 20px
}
    
.seguros-items-filhos > a{
    justify-self: start;
    grid-column: 1/-1;
}

/* detalhes */

.seguros-items-filhos > ul li::before{
    content: "";
    left: -20px;
    position: absolute;
    background-image: url("/img/icones/lista.svg");    
    height: 9px;
    width: 13px;
}

/* responsivo */

@media(max-width: 800px){
    .seguros-items{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        align-items: center;
    }
}