.tecnologia{
    background-color: var(--cor-11);
    box-shadow: inset 0px 120px var(--cor-00), inset 0px -120px var(--cor-00);
    margin-top: 120px;
}

.tecnologia-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-imagem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    
}

.tecnologia-conteudo{
    padding: 180px 0px;
    align-self: center;
}

.tecnologia-conteudo > span {
    margin-bottom: 20px;
    display: inline-block;
}

.tecnologia-conteudo > h2 {
    margin-bottom: 32px;
    max-width: 14ch;
}

.tecnologia-conteudo > p {
    margin-bottom: 20px;
}

.tecnologia-conteudo > a {
    margin-bottom: 80px;
    display: inline-block;
}

.tecnologia-conteudo-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


.tecnologia-conteudo-items img{
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.tecnologia-conteudo-items h3{
    margin-bottom: 8px;
}

@media (max-width: 800px){
    .tecnologia{
        margin-top: 60px;
    }

    .tecnologia-container{
        grid-template-columns: 1fr;
        gap: 0px;
        background-color: var(--cor-11);
    }
    
    .tecnologia-conteudo{
        padding: 40px 0px;
    }

    .tecnologia-imagem{
        display: none;
    }
    
}

@media (max-width: 600px){
    .tecnologia-conteudo-items{
        grid-template-columns: 1fr;
    }

    
}