/* Gerais */

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Classes */

.header-background{
    background-color: #000000;
}

.header-container{
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    
    list-style: none;
}

.header-menu a{
    display: inline-block;
    padding: 16px 0px;
    position: relative;

    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

/* Detalhes */

.header-menu a::after {
    content: "";
    display: block;
    margin-top: 4px;
    height: 2px;
    width: 0px;
    background-color: #ffffff;
    position: absolute;
}

.header-menu a:hover:after {
    width: 100%;
    transition: 0.3s;
}

/* Media Query */

@Media (max-width: 800px){
    .header-menu{
        gap: 20px;
    }

    .header-menu a {
        padding: 12px 16px;
        background-color: #111111;
        border-radius: 4px;
    }

    .header-menu a:hover{
        background-color: #2e2e2e;
    }

    .header-menu a::after{
        display: none;
    }
}

@media (max-width: 600px){
    .header-menu{
        gap: 12px;
    }

    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}