:root {
    --cor-00: #ffffff;
    --cor-01: #f7f7f7;
    --cor-02: #ededed;
    --cor-03: #dedede;
    --cor-04: #cccccc;
    --cor-05: #b2b2b2;
    --cor-06: #9c9c9c;
    --cor-07: #717171;
    --cor-08: #595959;
    --cor-09: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;

    --cor-a1: #ffbb00;
    --cor-a2: #e4a30b;
    --cor-a3: #a66f00;
    --cor-a4: #664400;
    --cor-a5: #332200;
}

/* braco/preto */

.cor-00{
    color: var(--cor-00);
}
.cor-01{
    color: var(--cor-01);
}
.cor-02{
    color: var(--cor-02);
}
.cor-03{
    color: var(--cor-03);
}
.cor-04{
    color: var(--cor-04);
}
.cor-05{
    color: var(--cor-05);
}
.cor-06{
    color: var(--cor-06);
}
.cor-07{
    color: var(--cor-07);
}
.cor-08{
    color: var(--cor-08);
}
.cor-09{
    color: var(--cor-09);
}
.cor-10{
    color: var(--cor-10);
}
.cor-11{
    color: var(--cor-11);
}
.cor-12{
    color: var(--cor-12);
}

/* amarelo */

.cor-a1{
    color: var(--cor-a1);
}

.cor-a2{
    color: var(--cor-a2);
}

.cor-a3{
    color: var(--cor-a3);
}

.cor-a4{
    color: var(--cor-a4);
}

.cor-a5{
    color: var(--cor-a5);
}