.botao{
    padding: 16px 32px;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.link{
    color: var(--cor-a1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.link::after{
    content: "";
    position: absolute;
    background-color: var(--cor-a1);
    width: 100%;
    height: 4px;
    margin-top: 4px;
    display: block;
}

.link::after, .link{
    transition: 0.1s;
}

.botao-primario, .botao-seta{
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-a5);
}

.botao-secundario{
    background-color: var(--cor-10);
    color: var(--cor-02);
}

.botao-seta{
    display: flex;
    align-items: center;
}

.botao-seta::after{
    content: "";
    background: url('/img/icones/seta.svg');
    width: 18px;    
    height: 10px;
    display: inline-block;
    margin-left: 12px;
    transition: transform 0.2s;
}

/* detalhes */

.botao-primario:hover, .botao-seta:hover{
    background: linear-gradient(#E89B0C, #FF8E0D);
}

.botao-secundario:hover{
    background-color: var(--cor-09);
}

.botao-seta:hover::after{
    transform: translateX(4px);
}

.link:hover{
    color: var(--cor-00);
}

.link:hover::after{
    background-color: var(--cor-00);
}

/* responsivo */

@media (max-width: 600px){
    .botao{
        padding: 12px 16px;
        font-size: 1rem;
    }

    .link{
        font-size: 1.2rem;
    }
}