.article-bicicleta-seguros{
    background-color: var(--cor-11);
    box-shadow: inset 0px 120px var(--cor-00), inset 0px -120px var(--cor-12);
}

.bicicleta-seguros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.bicicleta-seguros-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bicicleta-seguros-conteudo{
    align-self: center;
    padding: 180px 0px;
}

.bicicleta-seguros-conteudo h2{
    margin-bottom: 32px;
}

.bicicleta-seguros-conteudo p{
    margin-bottom: 20px;
}

@media (max-width: 600px){

    .article-bicicleta-seguros{
        background-color: var(--cor-11);
        box-shadow: inset 0px -70px var(--cor-12);
    }
    
    .bicicleta-seguros {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .bicicleta-seguros-imagem img{
        max-height: 300px;
    }

    .bicicleta-seguros-conteudo{
        grid-row: 1;
        padding: 40px 0px 0px 0px;
    }

    
}