.botao{
    font: 600 1.125rem/1.35 "Poppins", Arial, sans-serif;
    display: inline-block;
    padding: 16px 32px;
    box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: bold;
}

.botao-primario{
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-a5);
}

.botao-primario:hover{
    background: linear-gradient(#ffb60d, #e39909);
}

.botao-secundario{
    background-color: var(--cor-10);
    color: var(--cor-02);
}

.botao-secundario:hover{
    background-color: var(--cor-09);
}

@media (max-width: 600px){
    .botao{
        font-size: 1rem;
    }
}