/* Poppins */

/* ordem: font-weight font-size/line-height font-family */

.fonte-1-xxg{
    font: 600 4rem/1.125 "Poppins", Arial, Helvetica, sans-serif;
} 

.fonte-1-xg{
    font: 600 2rem/1.25 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-1-g{
    font: 400 1.5rem/1.5 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-1-m{
    font: 400 1.125rem/1.35 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-1-mn{
    font: 500 1.125rem/1.35 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-1-p{
    font: 400 1rem/1.5 "Poppins", Arial, Helvetica, sans-serif;
}

.fonte-1-sp{
    font: 400 0.75rem/1.35 "Poppins", Arial, Helvetica, sans-serif;
}


/* Roboto */

/* ordem: font-weight font-size/line-height font-family */

.fonte-2-xg{
    font: 500 2rem/1.25 "Roboto", Arial, Helvetica, sans-serif;
}

.fonte-2-g{
    font: 400 1.5rem/1.5 "Roboto", Arial, Helvetica, sans-serif;
}

.fonte-2-gn{
    font: 500 1.5rem/1.5 "Roboto", Arial, Helvetica, sans-serif;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.fonte-2-m{
    font: 400 1.125rem/1.35 "Roboto", Arial, Helvetica, sans-serif;
}

.fonte-2-p{
    font: 400 1rem/1.5 "Roboto", Arial, Helvetica, sans-serif;
}

.fonte-2-sp{
    font: 400 0.875rem/1.43 "Roboto", Arial, Helvetica, sans-serif;
}

/* Responsividade */

@media (max-width: 1200px){
    .fonte-1-xxg{
        font-size: 3rem;
    }
    .fonte-2-g{
        font-size: 1.125rem;
    }
}

@media (max-width: 800px){
    .fonte-1-xxg{
        font-size: 2rem;
    }
}