

.bicicletas-container{
    margin: 0 auto;
    padding: 60px 0px 120px 0px;
}

.bicicletas-container > h2{
    margin-bottom: 20px;
}

.bicicletas-container ul{
    display: flex;
    gap: 40px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
}

.bicicletas-container ul li{
    min-width: 280px;
}

.bicicletas-container ul li a {
    display: block;
}

.bicicletas-container ul li a img {
    margin-bottom: 16px;
}

.bicicletas-container ul li a h3{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bicicletas-container ul li a span{
    padding-left: 20px;
}

/* Detalhes */

.bicicletas-container ul li a h3::before{
    content: "";
    background-color: var(--cor-a1);
    height: 8px;
    width: 12px;
    display: inline-block;
    margin-right: 8px;
    transition: width 0.2s;
}

.bicicletas-container ul li a:hover h3::before{
    width: 24px;
}

/* Responsivo */

@media (max-width: 800px){
    .bicicletas-container ul{
        gap: 20px;
    }
}