.contato-grid-container{
    background: linear-gradient(var(--cor-11) 50%,var(--cor-00) 0px);
}

.contato-grid{
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-info{
    background-color: var(--cor-12);
    padding: 60px;
    border-radius: 5px 0px 0px 5px;
}

.contato-info > h2{
    margin-bottom: 60px;
}

.contato-info ul li, .contato-contato ul li{
    margin-bottom: 8px;
}

.contato-contato ul li:last-child{
    margin-bottom: 0px;
}


.contato-grid img:nth-child(n + 1){
    padding-top: 2px;
}

.contato-endereco, .contato-contato, .contato-tel{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0px 10px;
    margin-bottom: 32px;
}

.contato-contato{
    font-style: normal;
    gap: 32px 10px;
    margin-bottom: 60px;
}

.contato-redes ul{
    display: flex;
    gap: 32px;
    padding-left: 30px;
}

.contato-form{
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
    background-color: var(--cor-01);
    border-radius: 0px 5px 5px 0px;
    padding: 60px;
}

@media (max-width: 800px){
    .contato-grid-container{
        background: linear-gradient(var(--cor-11) 40%,var(--cor-00) 0px);
    }

    .contato-grid{
        grid-template-columns: 1fr;
    }

    .contato-info, .contato-form{
        padding: 40px;
    }
    
    .contato-info{
        border-radius: 5px 5px 0px 0px;
    }
    
    .contato-form{
        border-radius: 0px 0px 5px 5px;
    }

    .contato-info > h2, .contato-contato{
        margin-bottom: 32px;
    }

    .contato-endereco{
        margin-bottom: 16px;
    }
}

@media (max-width: 400px){
    .contato-info, .contato-form {
        padding: 20px;
    }
}