.contato-lojas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 0px;
    gap: 0px 40px;
}

.contato-lojas > h2{
    grid-column: 1/-1;
    margin-bottom: 60px;
}

.contato-lojas img{
    border-radius: 5px 5px 0px 0px; 
}

.contato-contato img{
    min-width: 20px;
}

.lojas-item{
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
    border-radius: 4px;
}

.lojas-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px;
    gap: 32px 16px;
}

.lojas-info h3{
    grid-column: 1/-1;
}

.lojas-info ul {
    border-left: 2px solid var(--cor-02);
}

.lojas-info ul li{
    padding-left: 12px;
}

.lojas-info ul li:first-child{
    padding-bottom: 8px;
}

.loja-horario{
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column: 1/-1;
}

/* detalhes */

.contato-contato a:hover{
    color: var(--cor-00);
}