.footer{
    background-color: var(--cor-12);
}

.footer-container {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding: 60px 20px;
}

.footer-contato h3, .footer-informacoes h3{
    margin-bottom: 32px;
}

.footer-contato ul{
    margin-bottom: 32px;
}

.footer-contato ul li, .footer-nav ul li{
    margin-bottom: 16px;
}

.footer-redes {
    display: flex;
    gap: 32px;
}

.footer-direitos{
    margin-top: 40px;
    grid-column: 1/-1;
}

/* detalhes */

.footer-contato ul li:nth-child(even):after{
    content: "";
    display: block;
    margin-top: 16px;
    height: 2px;
    max-width: 360px;
    background-color: var(--cor-11);    
}

.footer-contato ul li a:hover, .footer-informacoes nav ul li a:hover{
    color: var(--cor-00);
}

.footer-redes a:nth-child(1):hover path{
   fill: #f7398a;
}

.footer-redes a:nth-child(2):hover path{
    fill: #335fed;
}
 
.footer-redes a:nth-child(3):hover path{
    fill: #db0d0e;
}

/* responsivo */

@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }

    .footer-logo{
        grid-column: 1/-1;
    }
}

@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}