.footer-background{
    background-color: var(--cor-12);
}

.footer-item{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding: 60px 20px;
}

.footer-direitos{
    margin-top: 40px;
    grid-column: 1/-1;
}

.footer-redes{
    display: flex;
    gap: 32px;
}

.footer-info h3{
    margin-bottom: 32px;
}

.footer-info ul li {
    margin-bottom: 16px;
}

.footer-info-contato {
    margin-bottom: 32px;
}

/* Detalhes */

.footer-info-contato li:nth-child(even)::after {
    content: "";
    max-width: 320px;
    height: 2px;
    background-color: var(--cor-11);
    display: block;
    margin-top: 16px;
}

.footer-info li a:hover{
    color: var(--cor-00);
}

.footer-facebook-icon:hover path, .footer-youtube-icone:hover path, .footer-instagram-icon:hover path{
    transition: 0.2s;
}


.footer-facebook-icon:hover path{
    fill: #334d84;
}

.footer-youtube-icone:hover path{
    fill: #ff0000;
}

.footer-instagram-icon:hover path{
    fill: #cf2872;
}

/* Resonsivo */

@media (max-width: 800px){
    .footer-item{
        grid-template-columns: 1fr 1fr;
    }

    .footer-item > img {
        grid-column: 1/-1;
    }
}

@media (max-width: 550px){
    .footer-item{
        grid-template-columns: 1fr;
    }

    .footer-info-contato li:nth-child(even)::after {
        max-width: 75%;
    }
}