/* Gerais */

*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body{
    height: 5000px;

}

a{
    text-decoration: none;
    font: inherit;
}

ul li a{
    color: inherit;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

img[src$=".jpg"]{
    border-radius: 4px;
}

.container-max-width{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}
