/* Gerais */

*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body{
    height: calc(100vh + 1000px);

}

a{
    text-decoration: none;
    font: inherit;
}

ul li a{
    color: inherit;
}

ul{
    list-style: none;
}

img{
    display: block;
}
