/* Header */

.header-background{
    background-color: var(--cor-12);
    
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    
}

.header-menu a{
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}


/* Detalhes */

.header-menu a::after {
    content: "";
    display: block;
    margin-top: 4px;
    height: 2px;
    width: 0px;
    background-color: #ffffff;
    position: absolute;
    transition: width 0.3s;
}

.header-menu a:hover:after {
    width: 100%;
    
}

/* Responsivo */

@media (max-width: 800px){
    .header-menu{
        gap: 20px;
    }

    .header-menu a {
        padding: 12px 16px;
        background-color: var(--cor-11);
        border-radius: 4px;
    }

    .header-menu a:hover{
        background-color: var(--cor-10 );
    }

    .header-menu a::after{
        display: none;
    }
}

@media (max-width: 600px){
    .header-menu{
        gap: 12px;
    }

    .header-menu a{
        padding: 8px 12px;
    }
}