.header{
    background-color: var(--cor-12);
}

.header-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.header-navegacao ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-container ul li a{
    padding: 16px 0px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}

/* detalhes */

.header-container ul li a::after{
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--cor-00);
    display: block;
    margin-top: 4px;
    transition: 0.3s;
}

.header-container ul li a:hover::after{
    width: 100%;
}

/* responsivo */

@media (max-width: 800px){
    .header-navegacao ul{
        gap: 20px;
    }

    .header-container ul li a{
        padding: 12px 16px;
        background-color: var(--cor-11);
    }

    .header-container ul li a:hover{
        background-color: var(--cor-10);
    }

    
    .header-container ul li a:hover::after{
        display: none;
    }
}

@media (max-width: 600px){
    .header-navegacao ul{
        gap: 12px;
    }

    .header-container ul li a{
        font-size: 0.875rem;
        padding: 8px 12px;
    }

    .header-container {
        justify-content: center;
    }

    .header-navegacao ul{
        justify-content: center;
    }
}