/* essenciais */

@import "../global/global.css";
@import "../utilitario/cores.css";
@import "../utilitario/tipografia.css";
@import "../utilitario/objetos.css";
@import "../utilitario/titulo.css";

/* principais */

@import "../global/header.css";
@import "../global/footer.css";

/* home */

@import "../inicial/introducao.css";
@import "../inicial/escolha.css";
@import "../inicial/tecnologia.css";
@import "../inicial/parceiros.css";
@import "../inicial/depoimento.css";
@import "../inicial/seguros.css";

/* termos */

@import "../termos/termos.css";

/* catalogo */

@import "../catalogo/catalogo.css";