.depoimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-a1);
    overflow: hidden;
    /* max-height: 500px; */
}

.depoimento img{
    border-radius: 0px;
    width: 100%;
    height: 100%;
    max-height: 520px;
    object-fit: cover;
}

.depoimento-frase{
    padding: 40px 40px 80px 80px;
    align-self: end;
    display: flex;
    justify-items: start;
    flex-direction: column;
}

.depoimento-frase blockquote p{
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
} 

/* Detalhes */

.depoimento blockquote p::after,
.depoimento blockquote p::before{
    content: "“";
    font-size: 5rem;
    color: var(--cor-a2);
    position: absolute;
}

.depoimento blockquote p::before{
    content: "“";
    top: -25px;
    left:-50px;
}

.depoimento blockquote p::after{
    content: "”";
}

/* Responsivo */

@media (max-width: 800px){
    .depoimento{
        grid-template-columns: 1fr;

        text-align: center;
        /* justify-self: center; */
    }

    .depoimento-frase{
        padding: 40px;
    }

    .depoimento-frase blockquote p{
        margin: 0 auto 30px auto;
    }

    .depoimento-imagem img{
        max-height: 230px;
    }
}