/* Main */

.main-background{
    background-color: #000000;
    box-shadow: inset 0 -120px 0 0 #ffffff;
}

.main-container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;

    color: #ffffff;
}

.main-conteudo{
    align-self: end;
    margin-bottom: 200px;
}

.main-conteudo h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-weight: 600;
}

.main-conteudo span{
    color: #ffbb00;
}

.main-conteudo p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.main-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.botao{
    display: inline-block;
    background: linear-gradient(#ffbf00, #f2a50c);
    box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
    padding: 16px 32px;
    border-radius: 4px;
    
    text-transform: uppercase;
    color: #332211;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.33;
}

.botao:hover{
    background: linear-gradient(#ffb60d, #e39909);
}

/* Media Query */

@media (max-width: 1200px){
    .main-conteudo h1{
        font-size: 48px;
    }
    .main-conteudo p{
        font-size: 18px;
    }
    

}

@media (max-width: 800px){
    .main-background{
        background-color: #111111;
    }

    .main-container{
        grid-template-columns: 1fr;
        gap: 32px;
        padding-top: 40px;
    }
  
    .main-conteudo{
        margin-bottom: 0px;
    }

    .main-conteudo h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
}

@media (max-width: 600px){

    .botao{
        padding: 12px 16px;
        font-size: 16px;
    }
}