/* Main */

.main-background{
    background-color: var(--cor-12);
    box-shadow: inset 0 -120px 0 0 #ffffff;
}

.main-container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.main-conteudo{
    align-self: end;
    margin-bottom: 200px;
}

.main-conteudo h1{
    margin-bottom: 32px;
}

.main-conteudo p{
    margin-bottom: 20px;
}

.main-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.botao{
    font: 600 1.125rem/1.35 "Poppins", Arial, sans-serif;
    display: inline-block;
    background: linear-gradient(#ffbf00, #f2a50c);
    box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
    padding: 16px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--cor-a5);
    font-weight: bold;
}

.botao:hover{
    background: linear-gradient(#ffb60d, #e39909);
}

/* Media Query */

@media (max-width: 800px){
    .main-background{
        background-color: var(--cor-11);
    }

    .main-container{
        grid-template-columns: 1fr;
        gap: 32px;
        padding-top: 40px;
    }
  
    .main-conteudo{
        margin-bottom: 0px;
    }

    .main-conteudo h1{
        margin-bottom: 16px;
    }
}

@media (max-width: 600px){

    .botao{
        padding: 12px 16px;
        font-size: 2rem;
    }
}