.tecnologia-background{
    background-color: var(--cor-11);
    box-shadow: inset 0 80px var(--cor-00), inset 0 -80px var(--cor-00);
}

.tecnologia-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-conteudo{
    padding: 160px 0px;
}

.tecnologia-conteudo > span{
    display: inline-block;
    margin-bottom: 20px;
}

.tecnologia-conteudo > h2{
    margin-bottom: 32px;
}

.tecnologia-conteudo > a {
    margin-bottom: 80px;
}
.tecnologia-conteudo > p {
    margin-bottom: 20px;
}

.link{
    margin-bottom: 60px;
    display: inline-block;
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--cor-a1);
    position: relative;
    padding-bottom: 8px;
}

.link::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--cor-a1);
    bottom: 0px;
    left: 0px;
    position: absolute;
}


.tecnologia-descricao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-descricao h3{
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin-bottom: 10px;
}

.tecnologia-descricao p{
    padding-left: 10px;
}

#tecnologia-descricao-eletrica h3::before{
    content: "";
    width: 32px;
    height: 32px;
    background: url("/img/icones/eletrica.svg");
    display: block;
}

#tecnologia-descricao-rastreador h3::before{
    content: "";
    width: 32px;
    height: 32px;
    background: url("/img/icones/rastreador.svg");
    display: block;
}

.tecnologia-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

/* Responsivo */

@media (max-width: 800px){
    .tecnologia-container{
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo > h2{
        width: 14ch;
    }

    .tecnologia-imagem{
        display: none;
    }

    .tecnologia-conteudo{
        padding: 60px 0px;
    }

    .tecnologia-background{
        box-shadow: none;
    }
}

@media (max-width: 600px){
    .tecnologia-descricao{
        grid-template-columns: 1fr;
    }
}